# Typst
*.pdf
.typst-data/
.typst-cache/

# Nix
.direnv
result

# Pre Commit
.pre-commit-config.yaml

# Docusaurus spicific Data
docs/node_modules/
docs/.docusaurus/
docs/build/
docs/.cache-loader/

# Env vars and local secrets
docs/.env
docs/.env.local
docs/.env.development.local
docs/.env.test.local
docs/.env.production.local

# OS Files
.DS_Store
Thumbs.db

# Log-Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
